.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-nav li {
  margin-left: 1rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 0;
  color: rgba(0, 0, 0, 0.9);
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  padding: 0.3125rem 0;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.9);
}

.navbar-brand:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-links i {
  font-size: 24px;
}
