#header {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 2em;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  color: var(--white);
  font-size: 1rem;
  text-shadow: 1px 1px 1px black;
  background-color: var(--sidebar-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#header::-webkit-scrollbar {
  display: none;
}

#header > :first-child {
  margin-top: auto;
}

#header > :last-child {
  margin-bottom: auto;
}

@media (min-width: 1200px) {
  #header {
    font-size: clamp(13px, calc(7px + 0.3vw + 0.5vh), 30px);
    padding: 1.5em 2em;
  }
}

@media (max-width: 1199px) {
  #header {
    font-size: clamp(10px, 1.6vh, 16px);
    padding-bottom: 5em;
    background-image: url('../assets/backgrounds/wave-mobile.svg');
  }
}

@media (max-width: 1199px) and (max-height: 800px) {
  #header {
    background-position: 0% -18%;
  }
}

.space-2 {
  flex: 0 0 auto;
  width: 100%;
  height: 6.25em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#name {
  font-size: 330%;
  text-align: center;
}

.name-rest {
  font-size: 68%;
}

#pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 0.75em;
  margin-left: auto;
  margin-right: auto;
}

.pic-tag {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.125em;
  text-align: left;
  color: var(--blue);
}

.pic-title {
  width: max-content;
  font-size: 2em;
  text-align: center;
}

#skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-item {
  flex-grow: 1;
  margin: 0.4em;
}

.skill-item:hover {
  text-decoration: none;
}

a.skill-item:active .box {
  box-shadow: none;
}

.box {
  width: 100%;
  margin: 0;
  padding: 0.7em;
  color: #333;
  font-size: 1.25em;
  text-shadow: none;
  background-color: white;
  box-shadow: -5px 5px 1px 1px black;
}

.skill {
  display: inline-block;
  text-align: center;
  background-color: var(--page-bg);
  border-bottom: solid 4px;
}

.strong { border-bottom-color: var(--green); }
.great { border-bottom-color: var(--blue); }
.weakest { border-bottom-color: var(--pink); }
