html, body, .ng-scope, .container-fluid, .row {
  height: 100%;
  width: 100%;
}

#header{
  width: 100%;
  padding: 2rem;
  background-color: whitesmoke;
  height: 100%;
}

#body{
  background-color: #eaffeb;
  height: 100%;
  width: 100%;
  box-shadow: -5px -5px 25px 2px lightgrey;
  padding: 0;
}

#pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pic h4, #pic h5{
  font-size: 200%;
  text-align: center;
}

#name{
  font-size: 330%;
  text-align: center;
}

#social{
  display: flex;
  flex-direction: row;
}

#social a{
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

#home{
  /*display: flex;
  flex-direction: column;*/
  height: 93%;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.row{
  margin: 0;
}

.ion-social-github{

}

.box{
  margin: .4rem;
  padding: .8rem;
  box-shadow: 5px 5px 25px 2px lightgrey;
  background-color: white;
  /*box-shadow: inset 1px -1px 1px 1px black, 5px 5px 25px 2px lightgrey;*/
}

.skill{
  display: inline-block;
}

.navbar{
}

.navbar-nav{
  flex-direction: row;
}

.navbar-nav li{
  margin-left: 1rem;
}

.project{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.project h1{
  color: whitesmoke;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 5rem;
}

.project p{
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 1.2rem;
}

.project:first-of-type{
  height: 300px;
}

.description{
  z-index: -1;
  background-color: rgba(131, 134, 138, .8);
  width: 100%;
  height: 100%;
  margin: 0;
}

.project:hover .description{
  z-index: 0;
}

#jams{
  background-image: url('../images/blocjams.png');
}
#pixl{
  background-image: url('../images/pixl.png');
  background-color: rgb(238,238,238);
}
#bloccit{
  background-image: url('../images/bloccit.png');
  background-color: white;
}
#wiki{
  background-image: url('../images/wiki.png');
  background-color: white;
}
#peer{
  background-image: url('../images/peer.png');
  background-color: white;
  background-position: top;
}
#steamBot, #Keleapi{
  height: 50px;
}
#steamBot{
  background-color: black;
}
#steamBot h2{
  color: white;
}
#Keleapi{
  background-color: rgb(132, 237, 179);
}

.line{
  margin: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-top: solid 1px;
}


.notice{
  background-color: red;
  text-align: center;
}
