html, body, .ng-scope, .container-fluid, .row {
  height: 100%;
  width: 100%;
  color: #333;
}

#header{
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
  width: 100%;
  padding: 2rem;
  background-color: #342e3d;
  /* background-image: url("../images/space.gif"); */
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100%;
  border-right: dashed 10px white;
}

@media (max-width: 1200px) {
  #header{
      border-bottom: dashed 10px white;
      border-right: 0;
  }
}

.google{
  letter-spacing: -.5px;
  font-weight: 500;
}

.space-2{
  width: 100%;
  height: 100px;
  background-size: 125%;
  background-repeat: no-repeat;
  background-image: url("../images/space.gif");
  background-position: center center;
}

#body{
  background-color: white;
  height: 100%;
  width: 100%;
  /*box-shadow: -5px -5px 25px 2px lightgrey;*/
  padding: 0;
}

#me{
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 0 auto 0 auto;
  box-shadow: -5px 5px 1px 1px #f6f6f6;

}

.title{
  width: 100%;
  text-align: right;
  background-color: black;
}

.toolbar{
  height: 26px;
  background-color: #172327;
  max-width: 750px;
  width: 95%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 10px;
}

.toolbar div{
  float: left;
  background-color: white;
  width: 13px;
  height: 13px;
  margin-left: 9px;
  margin-top: 7px;
  border-radius: 50%;
}

.toolbar div:hover{
  cursor: pointer;
}

.toolbar .red{
  background-color: red;
}

.toolbar .yellow{
  background-color: yellow;
}

.toolbar .green{
  background-color: green;
}

.console{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #263a41;
  color: white;
  width: 95%;
  max-width: 750px;
  padding: 1rem;
  border: solid 5px #172327;
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-height: 80vh;
  overflow-y: scroll;
}

#skills{
  background-color: #342e3d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#skills a{
  flex-grow: 1;
  margin: .4rem;
}

#pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pic h4, #pic h5{
  font-size: 200%;
  text-align: center;
}

#name{
  font-size: 330%;
  text-align: center;
}

#social{
  display: flex;
  flex-direction: row;
}

#social a{
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

#home{
  /*display: flex;
  flex-direction: column;*/
  height: 93%;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.row{
  margin: 0;
}

.box{
  color: #333;
  text-shadow: none;
  margin: 0;
  padding: .7rem;
  background-color: white;
  box-shadow: -5px 5px 1px 1px black;
  border-bottom: solid 2px black;
  width: 100%;
  margin-bottom: 0;
}

.red, .green, .yellow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.toolbar i{
  font-size: 10px;
  display: none;
}

.toolbar:hover i{
  display: initial;
}

#skills a:active .box{
  box-shadow: none;
}
#skills a:active{
  box-shadow: none;
}

.strong{
  border: 0;
  border-bottom: solid 2px #b0e6b8;
}

.box.strong,.box.weak,.box.great,.box.weakest{
  border-bottom-width: 4px;
}

.weak{
  border: 0;
  border-bottom: solid 2px orange;
}

.weakest{
  border: 0;
  border-bottom: solid 2px #f2918d;
}

.great{
  border: 0;
  border-bottom: solid 2px #bedbf3;
}

.skill{
  display: inline-block;
  background-color: white;
  text-align: center;
}

.wrap{
  float: left;
}

.navbar{
}

.navbar-nav{
  flex-direction: row;

}

.blue{
  /* box-shadow: inset 1px -1px 1px 1px black, 5px 5px 25px 2px whitesmoke, 5px 5px 25px 2px lightblue; */
}
.navbar-nav li{
  margin-left: 1rem;
}

.projects{
}

.project{
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  border: solid 1px black;
  border-bottom: 0;
  border-radius: 1px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  background-size: 100%;
  text-align: center;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* text-overflow: ellipsis; */
  box-shadow: -5px 5px 5px 0px lightgrey;
}
.project:hover{
  background-size: 120%;
  background-position: relative;
}

.project h1, .project h2{
  background-color: black;
  color: whitesmoke;
  box-shadow: -7px 5px 4px 0px #333;
  font-size: 3rem;
  padding-left: 9px;
  padding-right: 9px;
  margin: 0;
}
@media (max-width: 576px) {
  .project h1, .project h2{
    font-size: 2rem;
  }
}
@media (max-width: 397px) {
  .project h1, .project h2{
    font-size: 1.5rem;
  }
}
@media (max-width: 313px) {
  .project h1, .project h2{
    font-size: 1rem;
  }
}
.project h2{
  box-shadow: -7px 8px 4px 0px #333;
  font-size: 1.3rem;
}


.description{
  max-width: 100%;
  /* text-overflow: ellipsis; */
}


#jams{
  background-image: url('../images/blocjams.png');
  color: white;
}
#pixl{
  background-image: url('../images/pixl.png');
  background-color: rgb(238,238,238);
  color: white;
}
#bloccit{
  background-image: url('../images/bloccit.png');
  background-color: white;
  color: white;
}
#wiki{
  background-image: url('../images/wiki.png');
  background-color: white;
  color: white;
}
#peer{
  background-image: url('../images/peer.png');
  background-color: white;
  color: white;
}
#markit{
  background-image: url('../images/blocitoff1.png');
  background-color: white;
  color: white;
}
#port{
  background-image: url('../images/port.png');
  background-color: white;
  /* background-size: 100%; */
  color: white;
}
#steamBot, #Keleapi, #Text-to-Speech-to-Text, #taskapi{
  background-image: url('../images/code4.jpeg');
}
#steamBot{
  background-image: url('../images/code2.jpg');
  background-color: orange;
  color: white;
}
#Keleapi{
  background-image: url('../images/code.png');
  background-color: rgb(132, 237, 179);
  color: white;
}
#taskapi{
  background-image: url('../images/code3.jpeg');
}

.line{
  height: 90px;
  margin-right: 50%;
  border-right: solid 1px;
}

.line2{
  height: 20px;
  margin-right: 50%;
  border-right: solid 1px;
}

#about{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}
#about .pic{
  margin-bottom: auto;
  width: auto;
}
#about img{
  margin-top: auto;
  padding: 1rem;
  border-radius: 300px;
  width: 25%;
}

/* .float-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
} */

.display-2{
  background-color: white;
}


.my-info{
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
  padding-left: 22px;
  text-align: left;
  width: 100%;
  color: #74b2c7;
}

.notice{
  background-color: red;
  text-align: center;
}

.thin-line{
  border-left: solid 1px;
}

.font{
  margin-bottom: auto;
  text-align: start;
  font-size: 22px;
  letter-spacing: .15em;
  -webkit-animation: output 2.7s steps(1, end);
  animation: output 2.7s steps(1, end);
}

.bg{
  height: auto;
  background-repeat: no-repeat;
  background-size: 105%;
  background-color: black;
  height: 200%;
  background-image: url('../images/pexels-photo-247791.png');
}

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  padding-right: -11%;
  padding-bottom: -11%;
  background-position: center;
  background-size: 120%;
  /* background-image: url('https://media.licdn.com/dms/image/C5603AQFyRO31hI9aUQ/profile-displayphoto-shrink_200_200/0?e=1527472800&v=alpha&t=UfYy2nvk29KtQplOn7S1uCv_W-KQw8SjPM5j6ayNZ4U'); */
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  /* background-color: white; */
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.2s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.2s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

#intro{
    /* margin: auto auto; */
    margin-bottom: 0;
    /* margin-left: 0; */
}

.blackbox{
  color: whitesmoke;
  background-color: #342e3d;
  padding-top: .3rem;
  padding-bottom: .3rem;
  box-shadow: none;
}

.helloWorld{
  font-size: 22px;
  overflow: hidden;
  border-right: .15em solid #263a41;
  white-space: nowrap;
  letter-spacing: .15em;
  animation:
    typing 2s steps(21, end),
    blink-caret .75s step-end 3;
}

.blink{
  color: #263a41;
  /* margin: 0 auto; */
  /* margin-left: 0; */
  /* margin-bottom: auto; */
  font-size: 22px;
  letter-spacing: .40em;
  border-right: .15em solid #263a41;
  animation:
    blink2 0.2s steps(1, end) forwards,
    blink-caret .75s step-end infinite;
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
}

.input{
  letter-spacing: .15em;
}

.commands{
  color: white;
  letter-spacing: .15em;
  font-size: 22px;
  margin-top: 19px;
  margin-bottom: 19px;
}

.stack{
  text-align: left;
}

@keyframes blink2 {
  from {color: #263a41}
  to {color: white}
}

@keyframes output {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@media (max-height: 800px) {
 #header {
   background-position: 0% -18%;
  }
}

/******/
/* Contact Form Page */
/******/

input[type=text], input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  padding-bottom: 5px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea{
  min-height: 54vh;
}

/* Style the submit button with a specific background color etc */
input[type=submit]{
  background-color: white;
  color: #8d8d8d;
  padding: 6px 20px;
  cursor: pointer;
  float: right;
  border: 0;
  border-bottom: solid 2px lime;
}

input[type=submit]:hover {
  border-bottom: solid 3px lime;
}

input[type=file]{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label{
  cursor: pointer;
  background-color: white;
  padding: 6px 20px;
  border: 0;
  border-bottom: solid 2px red;
  max-width: 300px;
}

label:hover{
  border-bottom: solid 3px red;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}
